.tooltip {
    display:block;
    float: left;
    width: 10px;
    height: 10px;
    background-color: rgba(158,158,158,0.2);
}

.fapi-prediction-occured, .fapi-event-occurred {
    background-color: #FF4081;
}

#fapi-github-icon, #fapi-linkedin-icon {
    margin-top: 10px;
}

#fapi-footer {
	min-height: 20px;
	padding-top: 4px;
}