.tooltip {
    display:block;
    float: left;
    width: 10px;
    height: 10px;
    background-color: rgba(158,158,158,0.2);
}

.prediction-occured {
    background-color: #FF4081;
}

.event-occurred {
    background-color: #FF4081;
}

.github-icon {
    margin-top: 10px;
}