game-bar-display, game-button, game-graph, game-score {
    margin: auto;
}

game-button {
    margin-top: 20px;
}

game-graph {
    background-image: url('../img/graph-background-1090.png');
    margin-top: 20px;
}

game-score h3 {
    text-align: center;
    margin-top: 0;
}

h3, #fapi-game-button {
    color: rgb(63,81,181);
}

.fapi-bottom-offset {
    height: 50px;
}

.fapi-game-bar-offset {
    width: 20px;
}

.fapi-game-subtitle, #fapi-game-button {
    margin-left: 35px;
}

.fapi-header-button {
    min-width: 50px;
}

.fapi-match-row {
    margin: auto;
}

.fapi-team-button {
    width: 220px;
    text-overflow: ellipsis;
}

.fapi-text-block {
    margin: 0 10%;
}

.fapi-tooltip {
    width: 10px;
    height: 10px;
    background-color: rgb(235,235,235);
}

.fapi-tooltip-halftime {
    background-color: rgb(212,212,212);
}

.fapi-event-occurred {
    background-color: #FF4081;
}

.fapi-vs-button {
    min-width: 50px;
}

#fapi-banner {
    color: white;
    height: 400px;
    background-image: url('../img/soccer-stadium.jpg');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.7);
}

#fapi-banner-text {
    font-size: 64px;
    font-weight: 700;
    line-height: 250px;
    font-family: Roboto Slab, RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
}

#fapi-footer {
    min-height: 20px;
    padding-top: 4px;
}

h3, #fapi-game-button {
    color: rgb(63,81,181);
}

#fapi-game-button {
    font-size: 20px;
}

#fapi-graph {
    width: 1090px;
    height: 200px;
}

#fapi-github-icon, #fapi-linkedin-icon {
    margin-top: 10px;
}

@media only screen and (max-width: 1500px) {
.fapi-team-button {
    width: 180px;
}
}

@media only screen and (max-width: 1200px) {

game-graph {
    background-image: url('../img/graph-background-880.png');
    margin-top: 20px;
}

.fapi-game-bar-offset {
    width: 25px;
}

.fapi-tooltip {
    width: 8px;
}

#fapi-graph {
    width: 880px;
}
}

@media only screen and (max-width: 1050px) {

.fapi-team-button {
    width: 150px;
}
}

@media only screen and (max-width: 960px) {

.fapi-game-subtitle, #fapi-game-button {
    margin-left: auto;
    margin-right: auto;
}
}

@media only screen and (max-width: 700px) {

#fapi-banner {
    height: 300px;
}

#fapi-banner-text {
    font-size: 48px;
    line-height: 150px;
}
}

@media only screen and (max-width: 600px) {

.fapi-team-button {
    width: 150px;
}

.fapi-vs-button {
    width: 25px;
}
}

@media only screen and (max-width: 600px) {

.fapi-team-button {
    width: 120px;
    font-size: 10px;
}

p, li {
    font-size: 10px;
}
}

@media only screen and (max-width: 500px) {

#fapi-banner {
    height: 200px;
}

#fapi-banner-text {
    font-size: 32px;
    line-height: 100px;
}
}