<div class='fapi-text-block'>
  <h3>How to play</h3>
  <p>This game uses an API that was built to mock the on-demand live football match information from
  <a ng-href='{{apiTabCtrl.footballApiURL}}' target='_blank'>football-api.com</a>.</p>
  <h3>Repository</h3>
  <p>The project is hosted on <a ng-href='{{apiTabCtrl.githubApiURL}}' target='_blank'>GitHub</a>.
  The README from the repository is shown below:</p>
  <md-card>
    <md-card-content>
      <div ng-bind-html='apiTabCtrl.content'></div>
    </md-card-content>
  </md-card>
</div>
<div class='fapi-bottom-offset'></div>