<!DOCTYPE html>
<html lang="en" ng-app='footballAPI'>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../bower_components/angular-chart.js/dist/angular-chart.css">
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body ng-controller='MatchController as matchCtrl'>

    <div> <!-- <div ng-show="matrchCtrl.simulationReady"> breaks angular-chart -->
        <button type="button" ng-click='matchCtrl.startSimulation()' ng-disabled="!matchCtrl.simulationReady">Start</button>

        <div ng-repeat='match in matchCtrl.matches'>
            <h3>{{match.home_team}} {{match.home_score}} - {{match.away_score}} {{match.away_team}}</h3>
            <input id="radio-{{$index}}-home" type="radio" style="display:inline" ng-model="matchCtrl.predictions[$index].current" value="home" ng-change="matchCtrl.changePrediction($index)" />
            <input id="radio-{{$index}}-draw" type="radio" style="display:inline" ng-model="matchCtrl.predictions[$index].current" value="draw" ng-change="matchCtrl.changePrediction($index)" />
            <input id="radio-{{$index}}-away" type="radio" style="display:inline" ng-model="matchCtrl.predictions[$index].current" value="away" ng-change="matchCtrl.changePrediction($index)" />
        </div>

        <canvas id="lineChart" class="chart chart-line" data="matchCtrl.graphData" labels="matchCtrl.graphLabels" width="1090px" height="300px"></canvas>

        <!-- set background class (lightning or not) dependent on whether predictionTooltips.list is null or not -->
        <div style="margin-left: 20px;">
            <div ng-repeat='predictionTooltip in matchCtrl.predictionTooltips.list track by $index'>
                <div style="display:inline;" ng-class="{ 'prediction-occured': predictionTooltip }" class="prediction-tooltip"></div>
            </div>
        </div>

        <div style="clear:both"></div>

        <div style="margin-left: 20px;">
            <div ng-repeat='eventTooltip in matchCtrl.eventTooltips.list track by $index'>
                <div style="display:inline;" ng-class="{ 'event-occurred': eventTooltip }" class="event-tooltip"></div>
            </div>
        </div>
    </div>

    <script src="../../bower_components/angular/angular.min.js"></script>
    <script src="../../bower_components/Chart.js/Chart.min.js"></script>
    <script src="../../bower_components/angular-chart.js/dist/angular-chart.js"></script>
    <script type="text/javascript" src="./scripts/lib/app.js"></script>
    <script type="text/javascript" src="./scripts/lib/controllers/match-controller.js"></script>
    <script type="text/javascript" src="./scripts/lib/services/data-formatter-service.js"></script>
    <script type="text/javascript" src="./scripts/lib/services/data-service.js"></script>
    <script type="text/javascript" src="./scripts/lib/services/constants.js"></script>
</body>
</html>