<div layout="row" layout-align="center">
  <p layout-align="center center">{{gameBarDisplayCtrl.barTitle}}</p>
</div>

<div layout="row">
  <div class="fapi-game-bar-offset"></div>
  <div ng-repeat='tooltip in gameBarDisplayCtrl.tooltips track by $index'>
    <div ng-class="{ 'fapi-event-occurred': tooltip }" class="fapi-tooltip" ng-click="gameBarDisplayCtrl.go()">
      <md-tooltip md-direction="top" ng-show="tooltip">{{gameBarDisplayCtrl.tooltipLabels[$index]}}</md-tooltip>
      <md-tooltip md-direction="bottom" ng-show="tooltip">{{tooltip}}</md-tooltip>
    </div>
  </div>
</div>