<div class='md-toolbar-tools'>
  <img src="./app/img/logo.png" alt="Logo" />
  <span flex></span>
  <md-button aria-label='Github' ng-href='{{headerCtrl.githubURL}}' target='_blank' class="fapi-header-button">
    <img src='./app/img/GitHub-Mark-Light-32px.png' id='fapi-github-icon' />
  </md-button>
  <md-button aria-label='LinkedIn' ng-href='{{headerCtrl.linkedInURL}}' target='_blank' class="fapi-header-button">
    <img src='./app/img/In-White-34px-R.png' id='fapi-linkedin-icon' />
  </md-button>
</div>
